@charset "UTF-8";

/* CSS Document */

body {
background-image: url(images/weather.png)
}

#wrapper {
width: 900px;
margin-left: auto;
margin-right: auto;
border: 3px solid #000;
font-family: Avenir, Helvetica, sans-serif;
color:darkslategray;
padding-left: 20px;
padding-right: 20px;
background-image: url(images/wov.png)    
}

button.css3button {
	font-family: Avenir, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
    color: #51ace8;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#f7ff00 0%,
		#ffbf00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#f7ff00),
		to(#ffbf00));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}


img.floatleft {
float:left;
margin-top:15px;
margin-right:15px;
}

#firstname,#lastname,#email {
color: #03C;    
}

h1,h3 {
color: darkorange;    
}

h2,h4 {
color: darkcyan;    
}




